@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 bg-accent text-white rounded hover:bg-blue-600 transition-colors;
  }
}